@import "styles/utils/_variables";
@import "styles/utils/_breakpoints";

.languageOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  margin-right: $spacing-larger;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $large) {
    margin-right: 0;
  }
}

.option {
  cursor: pointer;
  display: flex;
}
