@import 'styles/utils/_variables';
@import 'styles/utils/_breakpoints';

.languageOptionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin-right: $spacing-larger;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: $large) {
        display: none;
        margin-right: 0;
      }
}