@import "styles/utils/_variables";
@import "styles/utils/_breakpoints";

.container {
  padding: 30px 100px;
  margin: auto;
  height: fit-content;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-top: 120px;
  margin-bottom: 400px;
  background-color: $color-white;
  max-width: 1300px;

  @media screen and (max-width: $tablet) {
    padding: 20px 40px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: $font-family-main;

  @media screen and (max-width: $small) {
    flex-direction: column;
  }
}

.contactInfoContainer {
  @media screen and (max-width: $small) {
    margin-bottom: 40px;
  }
}

.contactInfoItem {
  font-size: $font-size-medium-larger;

  @media screen and (max-width: $small) {
    font-size: $font-size-medium;
  }

  &:not(:last-child) {
    padding-bottom: 60px;

    @media (max-width: $mobile) {
      padding-bottom: 40px;
    }
  }
}

.contactInfoSubitemTwo {
  padding-top: 10px;
  font-weight: bold;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  flex: 0.7;

  @media (max-width: $tablet) {
    flex: 0.9;
  }
}

.contactForm {
  margin-top: 20px;
}

.sendEmailBtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: $spacing-small $spacing-large;
  background-color: $color-blue-20;
  color: $color-white;
  font-size: $font-size-medium;
  border: 1px solid $color-blue-20;

  @media screen and (max-width: $small) {
    padding: $spacing-small $spacing-medium;
  }

  &:hover {
    background-color: $color-blue-10;
    transform: scale(1.03);
    transition: all 0.4s ease-out;
  }
}

.inputContainer {
  height: 80px;
}

.errorMessage {
  color: $color-red-20;
  font-size: $font-size-medium;
  height: 20px;

  @media screen and (max-width: $tablet) {
    font-size: $font-size-medium-small;
  }
}

.textareaContainer {
  height: 190px;
}
