@import "styles/utils/_variables";
@import "styles/utils/_breakpoints";

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  position: fixed;
  z-index: 100;
  margin: auto;
  bottom: 16px;
  left: 50%;
  margin-left: -115px;

  .notificationContainer {
    max-width: 430px;
    max-height: 200px;
    overflow: hidden;
    padding: 12px 15px;
    border-radius: 5px;
    z-index: 99;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeOutAnimation 3s;

    .message {
      color: $color-white;
      font-size: $font-size-medium;
      font-family: $font-family-main;
      letter-spacing: 1.5px;
    }
  }

  .hide {
    display: none;
  }

  .success {
    background-color: $color-green;
  }

  .error {
    background-color: $color-red-10;
  }
}
