@import 'styles/utils/_variables';
@import 'styles/utils/_breakpoints';

  .navHeader {
    padding: 0 $spacing-large;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5 rem calc((100vw - 1000px) / 2);
    z-index: 100;
    background-color: $color-gray-10;
    position: fixed;
    width: 100%;
    top: 0;

    @media screen and (max-width: $small) {
      padding: 0 $spacing-medium;
    }
  }

  .menuList {
    display: flex;
    flex-grow: 0.25;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $large) {
      display: none;
    }
  }

  .hamburgerBar {
    display: none;

    @media screen and (max-width: $large) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-large;
      color: $color-gray-40;
      cursor: pointer;
      transition: all 0.7s ease-out;
    }
  }

  .openHamburgerBar {
    transform: rotate(90deg);
    transition: all 0.7s ease-out;
  }
  
  .languageOptionsContainer {
    @media screen and (max-width: $large) {
      display: none;
    }
  }
