@import "styles/utils/_variables";
@import "styles/utils/_breakpoints";

.navHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: $color-gray-10;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 $spacing-large;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;

  @media screen and (max-width: $small) {
    padding: 0 $spacing-medium;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $large) {
    display: none;
  }
}

.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgerBar {
  display: none;

  @media screen and (max-width: $large) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-large;
    color: $color-gray-40;
    cursor: pointer;
    transition: all 0.7s ease-out;
  }
}

.openHamburgerBar {
  transform: rotate(90deg);
  transition: all 0.7s ease-out;
}

.languageOptionsContainer {
  @media screen and (max-width: $large) {
    display: none;
  }
}
