@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

// color palette
$color-black: #000000;
$color-white: #ffffff;

$color-blue-10: #659dba;
$color-blue-20: #39677F;
$color-red-10: #e83946;
$color-red-20: #b8001f;
$color-red-30: #a85156;
$color-green: #32a852;
$color-rose: #CF887B;

$color-gray-10: #f5f6fa;
$color-gray-20: #e8e8e8;
$color-gray-30: #6c757d;
$color-gray-40: #252422;

// spacing
$spacing-extra-small: 0.25rem;
$spacing-small: 0.5rem;
$spacing-medium-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-larger: 1.5rem;
$spacing-large: 1.75rem;
$spacing-extra-large: 2rem;
$spacing-super-large: 4rem;

// font size
$font-size-small: 0.5rem;
$font-size-medium-small: 0.85rem;
$font-size-medium: 1rem;
$font-size-medium-larger: 1.25rem;
$font-size-medium-large: 1.5rem;
$font-size-large: 2rem;
$font-size-extra-large: 2.5rem;
$font-size-subtitle: 3rem;
$font-size-subtitle-large: 3.5rem;
$font-size-title: 4rem;

// font family
$font-family-main: "Quicksand", sans-serif;
$font-family-secondary: "Dancing Script", cursive;
