@import "styles/utils/_variables";
@import "styles/utils/_breakpoints";

.cardContainer {
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 100%;

  @media screen and (max-width: $desktop) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 38px;

    @media screen and (max-width: $desktop) {
      margin-left: 0px;
      width: 90%;
    }

    .description {
      line-height: 38px;
      text-indent: 50px;
      font-family: $font-family-main;
      font-size: $font-size-medium-large;

      @media screen and (max-width: $tablet) {
        font-size: $font-size-medium-larger;
      }
      @media screen and (max-width: $mobile) {
        font-size: $font-size-medium;
        line-height: 25px;
        text-indent: 30px;
      }
    }
  }

  .rightSide {
    display: flex;
    flex-grow: 1;
    width: 50%;
    justify-content: center;
    float: left;
  }
}

.locationContainer {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 2000px) {
    margin-top: -70px;
  }

  @media screen and (max-width: $mobile) {
    margin-top: -60px;
  }

  .map {
    width: 80%;
    height: 500px;
    margin-top: 20px;
    border: none;

    @media screen and (max-width: $mobile) {
      height: 300px;
      margin-top: 10px;
    }
    @media screen and (max-width: $desktop) {
      width: 90%;
    }
  }
}

.countUpSection {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  row-gap: 40px;
  align-items: center;

  @media screen and (max-width: $desktop) {
    padding: 0px;
    width: 90%;
  }

  .countUpItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .iconContainer {
      font-size: $font-size-title;
    }
    .numberContainer {
      font-size: $font-size-subtitle-large;
      color: $color-red-20;
    }
    .numberDescription {
      padding-top: 20px;
      font-family: $font-family-main;
      font-size: $font-size-medium-large;
      width: 190px;
      text-align: center;
    }
  }
}
