@import 'styles/utils/_variables';
@import 'styles/utils/_breakpoints';

.logo {
    color: $color-red-20;
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;
    cursor: pointer;

    @media screen and (max-width: $small) {
        font-size: $font-size-large;
    }
}