@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
@import "./utils/_variables.scss";
@import "./utils/_breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-weight: normal;
  text-align: center;
  font-family: $font-family-secondary;
  font-size: $font-size-subtitle;

  @media screen and (max-width: $mobile) {
    font-size: $font-size-large;
  }
}
input {
  border: none;
  padding: 12px 15px;
  margin: 10px 0;
  width: 100%;
  font-family: $font-family-main;
  background-color: $color-gray-10;

  @media screen and (max-width: $small) {
    font-size: $font-size-medium-small;
    padding-left: 8px;
    margin-right: 0px;
  }
}
textarea {
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  resize: none;
  background-color: $color-gray-10;
  font-family: $font-family-main;
}
.bookNowBtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  padding: $spacing-small $spacing-large;
  background-color: $color-gold;
  color: $color-white;
  font-size: $font-size-medium;
  border: 1px solid $color-gold;

  @media screen and (max-width: $mobile) {
    padding: $spacing-small $spacing-medium;
  }

  &:hover {
    background-color: #dbae6b;
    transform: scale(1.03);
    transition: all 0.4s ease-out;
  }
}
